#popup {

    position: absolute;
    top: 110vh;
    left:0;
    right: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    z-index: 99999;

    transition: all 3s ease-in-out;
   
  }
  
  .cookieAcceptBar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  button {
    cursor: pointer;
    border: none;
    background-color: #2387c0;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
  }